@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
body{
    margin:0;
    font-family: "NOTO Sans TC", san-serif;
}
:root{
    --Light-Blue:#62AFF5;
    --Blue-Gray:#7EA3E3;
    --Gray:#666666;
    --light-Gray:#DEE4F0;
    --lighter-Gray:rgb(191,191,191);
    --White:#FFFFFF;
}
.loading-screen{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--light-Gray);
}
.loading-text{
    color: var(--Gray);
    font-size: 18px;
    letter-spacing: 3px;
    margin-block-start: 0;
    margin-block-end: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1s steps(8) infinite;
}
@keyframes typing{
    from { width: 0px}
    to { width: 145px};
}